adf-projeto-faculdade/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-projeto-faculdade"
		},
		"ls_databricks_projeto_faculdade_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_projeto_faculdade'"
		},
		"ls_datalake_projeto_faculdade_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_datalake_projeto_faculdade'"
		},
		"ls_sqldatabase_projeto_faculdade_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqldatabase_projeto_faculdade'"
		},
		"ls_datalake_projeto_faculdade_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsprojetofaculdade.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Aguardando desenvolvimento",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "transient_to_raw",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Aguardando desenvolvimento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/guto.vhenrique94@gmail.com/projeto_faculdade/projeto-faculdade/transient-to-raw"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_projeto_faculdade",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "raw_to_trusted",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transient_to_raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/guto.vhenrique94@gmail.com/projeto_faculdade/projeto-faculdade/raw-to-trusted"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_projeto_faculdade",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "trusted_to_refined",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "raw_to_trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/guto.vhenrique94@gmail.com/projeto_faculdade/projeto-faculdade/trusted-to-refined"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_projeto_faculdade",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-27T14:53:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_projeto_faculdade')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_consumo_projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldatabase_projeto_faculdade",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sigla_uf",
						"type": "varchar"
					},
					{
						"name": "total",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ano",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mes",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "uf_tipo_analise"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldatabase_projeto_faculdade')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_refined_projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake_projeto_faculdade",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "uf_tipo",
						"fileSystem": "refined"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake_projeto_faculdade')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7715431970361368.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_projeto_faculdade_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "10.4.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datalake_projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datalake_projeto_faculdade_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_datalake_projeto_faculdade_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldatabase_projeto_faculdade')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqldatabase_projeto_faculdade_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}